path#FR:hover {
    fill: blue !important;
}

path#US:hover {
    fill: blue !important;
}

path#BR:hover {
    fill: blue !important;
}

path#AU:hover {
    fill: blue !important;
}

path#NZ:hover {
    fill: blue !important;
}

path#IT:hover {
    fill: blue !important;
}
