path#FR:hover {
    fill: blue !important;
}

path#US:hover {
    fill: blue !important;
    a href="usa.html";
}

path#BR:hover {
    fill: blue !important;
}

path#AU:hover {
    fill: blue !important;
}

path#NZ:hover {
    fill: blue !important;
}

path#IT:hover {
    fill: blue !important;
}

path#MY:hover {
  fill: blue !important;
}

path#VN:hover {
  fill:blue !important;
}

path#NG:hover {
  fill:blue !important;
}

path#MA:hover {
  fill:blue !important;
}
